<!DOCTYPE html>
<html lang="en">
<head>
 <% include layouts/head %> 
</head>
<body>
<% include layouts/menu %>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
  
 
      <!-- LOGIN FORM -->
     
         <h2>Login Successfull</h2>
      
  
      <hr>
  
    
  
  </div>
  </div>

</body>
<% include layouts/script %>
</html>